#pageOne {
	background-image: url("Photos/sackcloth-1280540_960_720.jpg");
	height: 1000px;
	margin-top: 0px;
	background-size: cover;
	background-repeat: none;
}

h1 {
	margin-top: 350px;
	margin-left: 400px;
	text-align: center;
	font-size: 50px;
	color: red;

}

h3 {
	margin-left: 400px;
	text-align: center;
	color: blue;
}

h4 {
	margin-left: 400px;
	text-align: center;
	color: white;
}

#pageTwo {
	background-image: url("Photos/rafal-jedrzejek-416892.jpg");
	background-size: cover;
	background-repeat: none;
}

#pageThree {
	background-image: url("Photos/oliver-pecker-364272(1).jpg");
	background-size: cover;
	background-repeat: none;
}

#pageFour {
	background-image: url("Photos/hector-martinez-110928(1).jpg");
	background-size: cover;
	background-repeat: none;
}